footer {
  background-color: var(--grey);
  padding: 10px 0 10px 60px;
  margin-top: 30px;
}

footer p,
a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--main);
  margin: 0;
}
