<app-header [title]="headerTitle"></app-header>
<main>
  <button routerLink=''><img class="button-icon" src="backIcon.svg" alt="">Назад</button>
  <form class="form">
    <label>Название города</label>
    <input class="form__input" type="text">
    <label>Описание города</label>
    <textarea class="form__textarea"></textarea>
    <label>Ссылка на картинку</label>
    <input class="form__input" type="text">
    <button type="button" class="form__submit button-cyan">Создать</button>
  </form>
</main>