<app-header [title]="headerTitle"></app-header>
<main>
  <button routerLink=''><img class="button-icon" src="backIcon.svg" alt="">Назад</button>
  <form class="form" (ngSubmit)="submitForm()">
    <label>Название города</label>
    <input class="form__input" type="text" [(ngModel)]="cityName" name="cityName">
    <label>Описание города</label>
    <textarea class="form__textarea" [(ngModel)]="cityDescription" name="cityDescription"></textarea>
    <label>Ссылка на картинку</label>
    <input class="form__input" type="text" [(ngModel)]="cityImageUrl" name="cityImageUrl">
    <button type="submit" class="form__submit button-cyan">Создать</button>
  </form>
</main>