:host {
  --main: #434652;
  --secondary: #757986;
  --grey: #F2F5FA;
  --gray30: #C4C7D1;
  --cyan: #21a5b9;
  --white: #ffffff;

  font-family: "Roboto";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}