:host {
  --main: #434652;
  --secondary: #757986;
  --grey: #F2F5FA;
  --cyan: #21a5b9;
  --white: #ffffff;

  font-family: "Roboto";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

h3 {
  font-weight: 500;
  font-size: 16px;
  color: var(--main);
}