<style>
  :host {
    --main: #434652;
    --secondary: #757986;
    --grey: #F2F5FA;
    --cyan: #21a5b9;

    font-family: "Roboto";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
    margin: 0;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
  }

  h3 {
    font-weight: 500;
    font-size: 16px;
    color: var(--main);
  }

  button {
    padding: 10px 12px;
    background: #FFFFFF;
    border: 1px solid var(--grey);
    border-radius: 2px 0px 0px 2px;
  }

  .button--active {
    background-color: var(--grey);
  }

  main {
    width: 100%;
    height: 100%;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
  }

  .main__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
  }

  .main__nav-group {
    display: flex;
  }

  .main__nav-group--left .main__nav-item {
    margin-right: 10px;
  }

  .main__nav-group--right .main__nav-item {
    margin-left: 0;
    padding: 8px 20px;
    background: var(--cyan);
    border-radius: 4px;
    color: white;
    border: none;
    border: 1px solid var(--cyan)
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
  }

  .content__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content__tiles {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .content__list-item {
    display: flex;
    flex-direction: row;
  }

  .content__tiles-item {
    max-width: 320px;
    border-radius: 8px;
    background-color: var(--grey);
    overflow: hidden;
  }

  .tiles__item-text {
    color: var(--secondary);
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }
  }
</style>
<app-header></app-header>
<main class="main">
  <nav class="main__nav">
    <div class="main__nav-group main__nav-group--left">
      <button class="main__nav-item" [ngClass]="{'main__nav-item--active': isListViewActive}"
        (click)="toggleView('list')">Список</button>
      <button class="main__nav-item" [ngClass]="{'main__nav-item--active': isTileViewActive}"
        (click)="toggleView('tile')">Плитка</button>
    </div>
    <div class="main__nav-group main__nav-group--right">
      <button class="main__nav-item">Создать</button>
    </div>
  </nav>
  <div class="content">
    <div *ngIf="isListViewActive" class="content__list">
      <div *ngFor="let city of cities">
        <hr>
        <div class="content__list-item">
          <img [src]="city.image" alt="{{ city.name }}">
          <h3>{{ city.name }}</h3>
          <button [class.favorite]="city.favorite">Aa</button>
          <p>{{ city.description }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="isTileViewActive" class="content__tiles">
      <div class="content__tiles-item" *ngFor="let city of cities">
        <img [src]="city.image" alt="{{ city.name }}">
        <div>
          <h3>{{ city.name }}</h3>
          <button [class.favorite]="city.favorite">Aa</button>
        </div>
        <p class="tiles__item-text">{{ city.description }}</p>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>

<router-outlet />