.content__tiles {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.content__list-item {
  display: flex;
  flex-direction: row;
}

.content__tiles-item {
  max-width: 320px;
  height: 300px;
  border-radius: 8px;
  background-color: var(--grey);
  overflow: hidden;
}

.content__tiles-item__img{
  max-height: 188px;
}

.content__tiles-item__icon{
  cursor: pointer;
  margin-left: 10px;
}

.content__item-text {
  color: var(--secondary);
}

.content__tiles-item__description{
  padding: 0 20px
}