body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

h3 {
  font-weight: 500;
  font-size: 16px;
  color: var(--main);
}

input, textarea{
  border: 1px solid var(--gray30);
  padding: 8px ;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
}

input, textarea:focus {
    outline: none;
}

button {
  cursor: pointer;
  padding: 10px 12px;
  background-color: var(--white);
  border-radius: 2px;
  font-family: "Roboto";
  font-size: 15px;
  border: none;
  border: 1px solid var(--gray30);
  transition: box-shadow 0.3s ease;
}

.button-cyan{
  background: var(--cyan);
  border-radius: 4px;
  color: white;
  border: 1px solid var(--cyan)
}

button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}